body {
    background-color: rgba(33, 37, 41, 0.918);
    color: white;
}
.container {
    max-width: 100%;
}
.card-header {
    text-align: center;
}
.nav-link {
    color: white;
    text-align: center;
}
header {
    background-color: rgb(33, 37, 41);
    color: white;
    margin-bottom: 20px;
}

.card {
    height: 650px;
    max-height: 100%;
}
section {
    height: 100vh;
    padding-top: 70px;
}
section h1 {
    margin-bottom: 20px;
}
.carousel-item{
    height: 650px;
}
.carousel-item img{
    height: 100%;
}

